.box-3 {
  @media only screen and (min-width: 500px) {
    background-image: linear-gradient(45deg, #151d24, #ec533f23);
    border: solid 1px white;
    /* Styles */
  }
  align-items: center;
}

.bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: auto;
  padding-bottom: 20px;
  @media only screen and (min-width: 500px) {
    width: 100px;

    border: solid 1px white;
    /* Styles */
  }
}

.bio-text .bio-text-2 {
  margin-left: 100px;
  margin-right: auto;
  padding: 100vw;
}

.flexbox-container-3 {
  padding: 20px;

  margin-top: 970px;
  margin-bottom: 500px;

  text-align: justify;
  text-justify: inter-word;

  @media only screen and (min-width: 500px) {
    border: solid 1px white;
    /* Styles */
  }
}
