@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(rotate) {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #151d24;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.m-intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  min-width: 375px;
  overflow: hidden;
  position: relative;

  &:before,
  &:after {
    display: block;
    content: " ";
    width: 2560px;
    height: 2760px;
    position: absolute;
    margin-top: -1280px;
    margin-left: -1280px;
    transform-origin: center;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
    top: 50%;
    left: 50%;
  }

  &:before {
    background-image: url("https://image.ibb.co/dwBeKk/circle_inner.png");
    background-size: 100% auto;
    @include animation("rotate 30s infinite linear");
  }

  &:after {
    background-image: url("https://image.ibb.co/gTN8C5/circle_outer.png");
    background-size: 100% auto;
    @include animation("rotate 80s infinite linear");
  }

  .e-text {
    width: 1285px;
    position: relative;
    z-index: 100;
    padding: 0;

    h1 {
      padding: 0;
      color: #ea5847;
      margin: 0;
      text-transform: uppercase;
      font-size: 5vw;
      line-height: 180px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      margin: 30px 0;
      position: relative;
      @media only screen and (min-width: 500px) {
        font-size: 8.5vw;

        /* Styles */
      }

      @supports (-webkit-background-clip: text) {
        background: radial-gradient(
          ellipse at center,
          rgba(237, 103, 68, 1) 0%,
          rgba(236, 84, 63, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .subtitle {
      font-weight: 600;
      text-transform: uppercase;
    }

    .preamble {
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}

.e-particles-orange {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 1000px;
  height: 600px;
  opacity: 0.4;
  transform: translate(-50%, -50%);
}

.e-particles-blue {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.content {
  box-sizing: border-box;
  min-height: 80vh;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
}

$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);

.flex-center {
  width: 100%;
  min-height: 60vh;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 40px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
  &:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
  }
  25% {
    text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
  }
  50% {
    text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
  }
  75% {
    text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
  }
  100% {
    text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
  }
}
